{% load garantias_extras %}
<div class="garantia-detail__body">
  <div class="row g-4">
    <div class="col-12 col-lg-8">
      <form
        method="post"
        enctype="multipart/form-data"
        action="{% url 'garantias:editar_garantia' garantia.id %}"
        data-garantia-modal-form="1"
      >
        {% csrf_token %}
        <input type="hidden" name="layout" value="{{ layout|default:'modal' }}">
        {{ form.as_p }}

        <div class="d-flex gap-2 flex-wrap">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>

      <form method="post" action="{% url 'garantias:eliminar_garantia' garantia.id %}" data-garantia-modal-delete="1" class="mt-2">
        {% csrf_token %}
        <input type="hidden" name="layout" value="{{ layout|default:'modal' }}">
        <button type="submit" class="btn btn-danger">Eliminar</button>
      </form>

      <hr class="my-4" />

      <div class="mt-4">
        {% include "garantias/_archivos_section.html" with garantia=garantia archivos=archivos archivos_form=archivos_form only %}
      </div>

      <div class="mt-4">
        {% include "garantias/_enlaces_section.html" with garantia=garantia enlaces=enlaces enlace_form=enlace_form only %}
      </div>
    </div>

    <div class="col-12 col-lg-4">
      {% include "garantias/comentarios/_comentarios_section.html" with garantia=garantia comentario_form=comentario_form comentarios=comentarios comentarios_count=comentarios_count layout=layout only %}
    </div>
  </div>
</div>
