{% load garantias_extras %}
<div class="garantia-detail__body">
  <div class="row g-4">
    <div class="col-12 col-lg-8">
      <form id="garantia-edit-form" method="post" enctype="multipart/form-data"
        action="{% url 'garantias:editar_garantia' garantia.id %}" data-garantia-modal-form="1">
        {% csrf_token %}
        <input type="hidden" name="layout" value="{{ layout|default:'modal' }}">
        {{ form.as_p }}

        <div class="mt-4 mb-4">
          {% include "garantias/_etiquetas_section.html" with garantia=garantia etiquetas=etiquetas etiquetas_count=etiquetas_count etiquetas_form=etiquetas_form etiqueta_create_form=etiqueta_create_form only %}
        </div>

      </form>

      <hr class="my-4" />

      <div class="mt-4">
        {% include "garantias/_archivos_section.html" with garantia=garantia archivos=archivos archivos_form=archivos_form only %}
      </div>

      <div class="mt-4">
        {% include "garantias/_enlaces_section.html" with garantia=garantia enlaces=enlaces enlace_form=enlace_form only %}
      </div>
    </div>

    <div class="col-12 col-lg-4">
      {% include "garantias/comentarios/_comentarios_section.html" with garantia=garantia comentario_form=comentario_form comentarios=comentarios comentarios_count=comentarios_count layout=layout only %}
    </div>
  </div>
</div>